<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Caterest</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="home-gallery" *ngIf="picturesId.length > 0">
    <div class="profile-picture" *ngFor="let pictureId of picturesId">
        <a [routerLink]="['/image', pictureId]">
            <img [src]="'http://localhost:8080/picture/render/' + pictureId" alt="Image">
        </a>
    </div>
</section>

<section class="footer">
    <h4>About Us</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br> when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <div class="icons">
        <!--        <i class="fa fa-facebook"></i>-->
        <!--        <i class="fa fa-twitter"></i>-->
        <!--        <i class="fa fa-instagram"></i>-->
        <a href="https://www.linkedin.com/in/david-bazan-ticse/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Davidjbt"><i class="fa fa-github"></i></a>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by David</p>
</section>
