<div class="picture" *ngIf="postDetails">
    <div class="picture-header">
        <a [routerLink]="['', postDetails.user.displayName]"><img [src]="'http://localhost:8080/user/' + postDetails.user.id + '/profilePicture'"></a>
        <div>
            <p id="picture-username" [textContent]="postDetails.user.displayName"></p>
        </div>
    </div>
    <div class="picture-image">
        <img [src]="'http://localhost:8080/picture/render/' + pictureId">
    </div>
    <div class="picture-info">
        <div class="picture-description"><p [textContent]="postDetails.description"></p></div>
        <div class="picture-post-date"><p [textContent]="postDetails.postOfDate | date: 'dd/MM/yyyy'"></p></div>
    </div>
</div>
